<h1>Listing prices</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.value %></td>
        <td><%= link_to 'Show', price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>